<div class="container">
  <h1>
    <%= project.name %>
  <% if(session.authenticated && _.some(members, function(member){return member.id == session.user.id})){ %>
  <a href="/project/play/<%= project.id %>" class="btn btn-default btn-primary">join</a>
  <% } %></h1>
  <hr>
  <h3>members</h3>
    <table class="table">
    <% _.each(members, function(user){ %>
    <tr data-id="<%= user.id %>" data-model="user">
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><a href="/user/show/<%= user.id %>" class="btn btn-sm btn-primary">Show</a></td>
      <!-- <td><a href="/user/edit/<%= user.id %>" class="btn btn-sm btn-warning">Edit</a></td> -->
      <!-- <td><a href="/user/destroy/<%= user.id %>" class="btn btn-sm btn-danger">Delete</a></td> -->
    </tr>
    <% }) %>

  </table>
</div>