<div class="container">
  <h1><%= user.name %></h1>
  <hr>
  <h3>contact: <%= user.email %></h3>
  
  <h3>projects</h3>
    <% if(session.user && session.user.id == user.id){ %>
      <a href="/project/new" class="btn btn-sm btn-primary">New Project</a>
    <% } %>
    <table class="table">
    <% _.each(projects, function(project){ %>
    <tr data-id="<%= user.id %>" data-model="user">
      <td><%= project.name %></td>
      <td><a href="/project/show/<%= project.id %>" class="btn btn-sm btn-primary">Info</a></td>
      <% if(req.isAuthenticated() && req.user.id == user.id){ %>
      <td><a href="/project/play/<%= project.id %>" class="btn btn-sm btn-primary join-btn">Join</a></td>
      <% } %>

      <!-- <td><a href="/user/destroy/<%= user.id %>" class="btn btn-sm btn-danger">Delete</a></td> -->
    </tr>
    <% }) %>
</div>